/* General styles */
body {
	font-family: 'Segoe UI' , 'Lucida Grande' , Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	color: #666;
}
h1 {
	font-family: 'Segoe UI' , 'Lucida Grande' , Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	font-weight: normal;
	margin-top: 0;
	color: #ec7a08;
}
h2, h3 {
	font-family: 'Segoe UI Semibold' , 'Segoe UI' , 'Lucida Grande' , Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #666;
}
h2 {
	font-size: 1.769em;
}
h3 {
	font-size: 1.231em;
}
h4, .subHeading {
	font-family: 'Segoe UI Semibold' , 'Segoe UI' , 'Lucida Grande' , Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.077em;
	font-weight: normal;
	margin: 0;
	color: #666;
}
.subHeading {
	margin-top: 5px;
}
h5, h6 {
	font-family: 'Segoe UI Semibold' , 'Segoe UI' , 'Lucida Grande' , Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	line-height: 130%;
	margin: 0;
	color: #666;
}
a, a:link {
	text-decoration: none;
	color: #1364c4;
}
a:visited, a:active {
	text-decoration: none;
	color: #03697a;
}
a:hover {
	text-decoration: none;
	color: #3390b1;
}
a.button, a.button:active, a.button:hover {
    float: right;
	background-color: #0080c0;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
	margin-left: 6px;
}
a.button:link, a.button:visited {
    color: white;
}
img {
	border: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 15px;
	line-height: 18px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
q {
	font-style: italic;
}
blockquote {
	margin-top: 0px;
}
table {
	border-collapse: collapse;
	padding: 0;
	margin-bottom: 15px;
	font-size: 15px;
	width: 100%;
}
td, th {
	border-bottom: 1px solid #dbdbdb;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 8px;
	padding-left: 8px;
}
th {
	background-color: #ededed;
	color: #636363;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
td {
	color: #2a2a2a;
	vertical-align: top;
}
table p:last-child {
	padding-bottom: 0;
}
table.members {
	width: 100%;
}
table.members td {
	min-width: 72px;
}
table.members img {
	padding-right: 5px;
}
div.alert img {
	padding-right: 5px;
}
ol {
	margin-top: 0px;
	margin-bottom: 10px;
}
ol ol {
	list-style-type: lower-alpha;
}
ol ol ol {
	list-style-type: lower-roman;
}
ul {
	margin-top: 0px;
	margin-bottom: 10px;
}
.noBullet {
	list-style-type: none;
	padding-left: 20px;
}
ul ul {
	list-style-type: circle;
}
ul ul ul {
	list-style-type: square;
}
dt {
	font-weight: 600;
}
pre {
	font-family: Consolas, Courier, monospace;
	overflow: hidden;
}
.pageHeader {
	font-family: 'Segoe UI' , Tahoma, Helvetica, Sans-Serif;
	font-size: 19px;
	background-color: #98c23c;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 580.1 109.17"><g fill="#fff"><path d="M0 60.81l7.4-8.8c6.7 5.8 13.5 9.1 22.1 9.1 7.6 0 12.4-3.6 12.4-8.8v-.2c0-5-2.8-7.7-15.8-10.7-14.9-3.6-23.3-8-23.3-20.9v-.2c0-12 10-20.3 23.9-20.3a38.8 38.8 0 0 1 25.4 8.8l-6.6 9.3c-6.3-4.7-12.6-7.2-19-7.2-7.2 0-11.4 3.7-11.4 8.3v.2c0 5.4 3.2 7.8 16.7 11 14.8 3.6 22.4 8.9 22.4 20.5v.2c0 13.1-10.3 20.9-25 20.9A43.12 43.12 0 0 1 0 60.81M66.3 56.41v-27.8h-6.7v-10.4h6.7V3.71h12.1v14.5h14.2v10.4H78.4v25.9c0 4.7 2.4 6.6 6.5 6.6a16.27 16.27 0 0 0 7.5-1.8v9.9a20.93 20.93 0 0 1-10.9 2.7c-8.9 0-15.2-3.9-15.2-15.5M101.4 18.21h12.1v11.9c3.3-7.9 9.4-13.3 18.7-12.9v12.8h-.7c-10.6 0-18 6.9-18 20.9v20.1h-12.1v-52.8M135.5 44.81v-.2c0-15.1 10.7-27.5 25.8-27.5 16.8 0 25.3 13.2 25.3 28.4 0 1.1-.1 2.2-.2 3.4h-38.8c1.3 8.6 7.4 13.4 15.2 13.4 5.9 0 10.1-2.2 14.3-6.3l7.1 6.3c-5 6-11.9 9.9-21.6 9.9-15.3 0-27.1-11.1-27.1-27.4m39.1-3.9c-.8-7.8-5.4-13.9-13.4-13.9-7.4 0-12.6 5.7-13.7 13.9h27.1M192.9 44.81v-.2c0-15.1 10.7-27.5 25.8-27.5 16.8 0 25.3 13.2 25.3 28.4 0 1.1-.1 2.2-.2 3.4H205c1.3 8.6 7.4 13.4 15.2 13.4 5.9 0 10.1-2.2 14.3-6.3l7.1 6.3c-5 6-11.9 9.9-21.6 9.9-15.3 0-27.1-11.1-27.1-27.4m39.1-3.9c-.8-7.8-5.4-13.9-13.4-13.9-7.4 0-12.6 5.7-13.7 13.9H232M255.7 56.41v-27.8H249v-10.4h6.7V3.71h12.1v14.5H282v10.4h-14.2v25.9c0 4.7 2.4 6.6 6.5 6.6a16.27 16.27 0 0 0 7.5-1.8v9.9a20.93 20.93 0 0 1-10.9 2.7c-8.9 0-15.2-3.9-15.2-15.5M301 60.81l7.4-8.8c6.7 5.8 13.5 9.1 22.1 9.1 7.6 0 12.4-3.6 12.4-8.8v-.2c0-5-2.8-7.7-15.8-10.7-14.9-3.6-23.3-8-23.3-20.9v-.2c0-12 10-20.3 23.9-20.3a38.8 38.8 0 0 1 25.4 8.8l-6.6 9.3c-6.3-4.7-12.6-7.2-19-7.2-7.2 0-11.4 3.7-11.4 8.3v.2c0 5.4 3.2 7.8 16.7 11 14.8 3.6 22.4 8.9 22.4 20.5v.2c0 13.1-10.3 20.9-25 20.9a43.12 43.12 0 0 1-29.2-11.2M365.3 18.21h12.1v8c3.4-4.7 8-9.1 16.1-9.1 7.6 0 13 3.7 15.8 9.3 4.2-5.6 9.8-9.3 17.8-9.3 11.5 0 18.5 7.3 18.5 20.2v33.7h-12.1v-30c0-8.4-3.9-12.9-10.7-12.9-6.6 0-11.3 4.6-11.3 13.1v29.8h-12.1v-30.1c0-8.2-4-12.8-10.7-12.8s-11.3 5-11.3 13.1v29.8h-12.1v-52.8zM453.8 55.81v-.2c0-11.4 8.9-17 21.8-17a44.11 44.11 0 0 1 14.2 2.2v-1.3c0-7.5-4.6-11.5-13.1-11.5a36.77 36.77 0 0 0-15.1 3.3l-3.2-9.5a45.06 45.06 0 0 1 19.9-4.3c7.9 0 13.8 2.1 17.5 5.9 3.9 3.8 5.7 9.4 5.7 16.3v31.3h-11.8v-6.6c-3.6 4.3-9.1 7.7-17.2 7.7-9.9 0-18.7-5.7-18.7-16.3m36.2-3.8v-3.6a33.56 33.56 0 0 0-12-2.1c-7.8 0-12.4 3.3-12.4 8.8v.2c0 5.1 4.5 8 10.3 8 8 0 14.1-4.6 14.1-11.3M513 18.21h12.1v11.9c3.3-7.9 9.4-13.3 18.7-12.9v12.8h-.7c-10.6 0-18 6.9-18 20.9v20.1H513v-52.8M553.8 56.41v-27.8h-6.7v-10.4h6.7V3.71h12.1v14.5h14.2v10.4h-14.2v25.9c0 4.7 2.4 6.6 6.5 6.6a16.27 16.27 0 0 0 7.5-1.8v9.9a20.93 20.93 0 0 1-10.9 2.7c-8.9 0-15.2-3.9-15.2-15.5M301.2 87.81h9.42a7.59 7.59 0 0 1 5.49 1.86 4.7 4.7 0 0 1 1.41 3.48v.06a5 5 0 0 1-3 4.68c2.46.84 4.17 2.25 4.17 5.1v.02c0 3.75-3.09 5.76-7.77 5.76h-9.72v-21m12.63 5.98c0-1.65-1.32-2.67-3.69-2.67h-5.31v5.58h5c2.37 0 4-.93 4-2.85v-.06m-3.15 6h-5.85v5.76h6.12c2.52 0 4.05-1 4.05-2.88v-.06c0-1.74-1.41-2.79-4.3-2.79M329.94 100.53l-8.34-12.72h4.38l5.85 9.27 5.94-9.27H342l-8.3 12.63v8.37h-3.72v-8.28M356.61 98.37v-.06a10.63 10.63 0 0 1 10.83-10.86 11 11 0 0 1 8.22 3.27l-2.37 2.73a8.36 8.36 0 0 0-5.88-2.61c-4 0-6.93 3.3-6.93 7.41v.06c0 4.11 2.91 7.44 6.93 7.44 2.58 0 4.23-1 6-2.7l2.37 2.4a10.84 10.84 0 0 1-8.52 3.72 10.56 10.56 0 0 1-10.65-10.8M387.36 100.53l-8.34-12.72h4.38l5.85 9.27 5.94-9.27h4.23l-8.34 12.63v8.37h-3.72v-8.28M402.02 98.37v-.06a10.63 10.63 0 0 1 10.83-10.86 11 11 0 0 1 8.22 3.27l-2.37 2.73a8.35 8.35 0 0 0-5.88-2.61c-4 0-6.93 3.3-6.93 7.41v.06c0 4.11 2.91 7.44 6.93 7.44 2.58 0 4.23-1 6-2.7l2.37 2.4a10.83 10.83 0 0 1-8.52 3.72 10.56 10.56 0 0 1-10.65-10.8M426.89 87.81h3.69v17.64h11v3.36h-14.69v-21M445.13 98.37v-.06a11 11 0 0 1 22-.06v.06a11 11 0 0 1-22 .06m18.09 0v-.06a7.2 7.2 0 0 0-7.14-7.47 7.1 7.1 0 0 0-7.08 7.41v.06a7.17 7.17 0 0 0 7.14 7.44 7.07 7.07 0 0 0 7.08-7.38M473.36 87.81h3.93l6.39 9.93 6.39-9.93H494v21h-3.69V93.75l-6.63 9.9h-.12l-6.57-9.84v15h-3.63v-21M501.2 87.81h15.57v3.3h-11.88v5.46h10.53v3.3h-10.53v5.64h12v3.3H501.2v-21M523.1 87.81h7.83c6.6 0 11.16 4.53 11.16 10.44v.06c0 5.91-4.56 10.5-11.16 10.5h-7.83v-21m3.69 3.36v14.28h4.14c4.41 0 7.29-3 7.29-7.08v-.06a6.89 6.89 0 0 0-7.29-7.14h-4.14M548.57 87.81h3.69v21h-3.69v-21M567.11 87.66h3.42l9.24 21.15h-3.9l-2.17-5.07h-9.93l-2.07 5.07h-3.78m14.47-8.34l-3.63-8.4-3.6 8.4h7.23"/></g></svg>');
	background-repeat: no-repeat;
	background-size: 220px;
	background-position: center left 10px;
	color: #fff;
	padding: 0;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.pageBody {
	padding: 0px;
}
.topicContent {
	padding: 10px 10px 15px 10px;
	overflow: visible;
	border-left: 1px solid #bbb;
}
.pageFooter {
	clear: both;
	border-top: solid 1px #bbb;
	padding: 10px;
}
.feedbackLink {
}
.iconColumn {
	width: 100px;
}
.seeAlsoStyle {
}
table.titleTable td {
	padding-top: 0px;
	border-width: 0px;
}
td.titleColumn {
	margin-top: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
td.logoColumn {
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: middle;
	width: 1px;
}
td.logoColumnAbove {
	padding: 0px 10px 0px 0px;
	vertical-align: middle;
}
span.selflink {
	color: #005293;
}
div.preliminary {
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	color: #333333;
}
div.caption {
	font-weight: bold;
	font-size: 1em; /*12pt*/
	color: #003399;
	padding-top: 5px;
	padding-bottom: 5px;
}
.procedureSubHeading {
	font-size: 1.1em; /*13.5pt*/
	font-weight: bold;
}
.summary {
}

/* Collapsible region styles */
.collapsibleAreaRegion {
	margin-top: 15px;
	margin-bottom: 15px;
}
.collapseToggle {
	padding-right: 5px;
}
.collapsibleRegionTitle {
	font-family: 'Segoe UI Semibold' , 'Segoe UI' , 'Lucida Grande' , Verdana, Arial, Helvetica, sans-serif !important;
	font-style: normal !important;
	font-size: 1.769em;
	margin-top: 9px;
	margin-bottom: 19px;
	padding-top: 20px;
	padding-bottom: 5px;
	cursor: pointer;
}
.collapsibleSection {
	padding: 0 0 0 20px;
}

/* Syntax and code snippet styles */
.codeSnippetContainer {
	min-width: 260px;
	margin-top: 10px;
}
.codeSnippetContainerTabs {
	height: 23px;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}
.codeSnippetContainerTab {
	padding: 0px 15px;
	width: auto;
	height: 22px;
	color: #2a2a2a;
	font-family: "Segoe UI" , "Lucida Grande" , Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	font-style: normal !important;
	vertical-align: baseline;
	float: left;
}
.codeSnippetContainerTabActive {
	background: #f8f8f8;
	padding: 0px 15px;
	width: auto;
	height: 22px;
	color: #666;
	font-family: "Segoe UI" , "Lucida Grande" , Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	font-style: normal !important;
	vertical-align: baseline;
	border-top-color: #939393;
	border-right-color: #939393;
	border-left-color: #939393;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	float: left;
}
.codeSnippetContainerTabPhantom {
	background: #f8f8f8;
	padding: 0px 15px;
	width: auto;
	height: 22px;
	color: #666;
	font-family: "Segoe UI" , "Lucida Grande" , Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	font-style: normal !important;
	vertical-align: baseline;
	border-top-color: #939393;
	border-right-color: #939393;
	border-left-color: #939393;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	float: left;
	display: none;
}
.codeSnippetContainerTabSingle {
	background: #f8f8f8;
	padding: 2px 15px 0px 15px;
	width: auto;
	height: 20px;
	color: #666;
	font-family: "Segoe UI" , "Lucida Grande" , Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	font-weight: bold;
	font-style: normal !important;
	vertical-align: baseline;
	border-top-color: #939393;
	border-right-color: #939393;
	border-left-color: #939393;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	float: left;
}
.codeSnippetContainerTab a {
	top: 2px;
	color: #666;
	font-weight: bold;
	text-decoration: none;
	position: relative;
}
.codeSnippetContainerTab a:link {
	color: #666;
}
.codeSnippetContainerTab a:hover {
	color: #136460;
}
.codeSnippetContainerTabActive a {
	top: 2px;
	color: #666;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	cursor: default;
}
.codeSnippetContainerTabActive a:link {
	color: #666;
}
.codeSnippetContainerTabActive a:hover {
	color: #666;
}
.codeSnippetContainerTabPhantom a {
	top: 2px;
	color: #666;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	cursor: default;
}
.codeSnippetContainerTabPhantom a:link {
	color: #666;
}
.codeSnippetContainerCodeContainer {
	border: 1px solid #939393;
	top: -1px;
	margin-bottom: 12px;
	position: relative;
}
.codeSnippetToolBar {
	width: auto;
	height: auto;
}
.codeSnippetToolBarText {
	top: -8px;
	width: auto;
	height: 0px;
	padding-right: 0px;
	padding-left: 0px;
	vertical-align: top;
	float: right;
	position: relative;
}
.codeSnippetToolBarText a {
	color: #1364c4;
	text-decoration: none;
	padding-left: 8px;
	padding-right: 8px;
	font-family: "Segoe UI" , "Lucida Grande" , Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 10px;
	font-style: normal !important;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 0px;
	background-color: #ffffff;
}
.codeSnippetToolBarText a:link {
	color: #1364c4;
}
.codeSnippetContainerCode {
	margin: 0px;
	padding: 10px;
	width: auto;
}
.codeSnippetContainerCode div {
	margin: 0px;
	padding: 0px;
}
.codeSnippetContainerCode pre {
	margin: 0px;
	padding: 5px;
	overflow: auto;
	font-family: Consolas, Courier, monospace !important;
	font-style: normal;
	font-weight: normal;
	-ms-word-wrap: normal;
}
.codeSnippetContainerCode .keyword {
	color: #0000ff;
	font-weight: normal;
}

.copyCodeSnippet {
}

/* Keyword and phrase styles */
span.code, span.command {
	font-family: Consolas, Courier, monospace;
	color: #000066;
	background-color: #f4f4f4;
}
span.ui {
	font-weight: bold;
}
span.math {
	font-style: italic;
}
span.input {
	font-weight: bold;
}
span.term {
	font-style: italic;
}
span.label {
	font-weight: bold;
}
span.foreignPhrase, span.phrase {
	font-style: italic;
}
span.placeholder {
	font-style: italic;
}
span.typeparameter {
	font-style: italic;
}
span.identifier {
}
span.keyword {
	font-weight: bold;
}
span.parameter {
	font-style: italic;
}
dt span.parameter {
	font-weight: normal;
}
span.literal, span.literalValue {
	color: #cc0000;
}
span.comment {
	color: #006633;
}
span.introStyle {
	color: #a9a9a9;
}
span.nolink {
	font-weight: bold;
}

/* Auto-outline styles */
ul.autoOutline {
}
li.outlineSectionEntry {
}
div.outlineSectionEntrySummary {
}

/* Media  styles */
div.mediaNear {
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
}
div.mediaFar {
	text-align: right;
	margin-top: 1em;
	margin-bottom: 1em;
}
div.mediaCenter {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}
span.captionLead {
	font-weight: bold;
	margin-right: .5em;
}
span.media img {
	vertical-align: top;
}

/* Glossary styles */
div.glossaryDiv {
}
div.glossaryLetterBar {
}
hr.glossaryRule {
}
h3.glossaryGroupHeading {
	color: #808080;
}
div.glossaryGroup {
}
dl.glossaryGroupList {
	margin: 0;
	color: Black;
}
dt.glossaryEntry {
	margin-left: 2em;
}
dd.glossaryEntry {
	margin-left: 2em;
	margin-bottom: 2em;
}
div.relatedEntry {
	margin-bottom: 4px;
}

/* Bibliography styles */
div.bibliographStyle {
	padding-top: 5px;
}
span.bibliographyNumber {
}
span.bibliographyAuthor {
	font-weight: bold;
}
span.bibliographyTitle {
	font-style: italic;
}
span.bibliographyPublisher {
}
sup.citation a:link a:visited a:active {
	text-decoration: none;
}

/* Placeholder for the Help 1 user data style class */
.userDataStyle {
}



.missing
{
	color: #dc143c;
	font-size: 8.5pt;
	font-weight: bold;
}

#SearchForm {
	float: none;
	align-self: flex-end;
}